@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=PT+Sans+Caption:wght@400;700&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "Alkatra", cursive, "PT Sans Caption", sans-serif !important;
}

html,
body,
.app {
    height: 100%;
    width: 100%;
}
canvas {
    width: 100% !important;
}
.bar-chart > div > div > svg,
.pie-chart > div > div > svg {
    width: 100% !important;
}

.noData {
    animation: opacitySwitch 2s infinite cubic-bezier(0.3, 0.8, 0.5, 0.1)
        alternate;
    -webkit-animation: opacitySwitch 2s infinite
        cubic-bezier(0.3, 0.8, 0.5, 0.1) alternate;
}

#favicon {
    border-radius: 50%; /* This value makes the element round */
}

@keyframes opacitySwitch {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0.8;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-track:hover {
    background: rgba(1, 87, 155, 0.4);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(1, 87, 155, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(1, 87, 155);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
